.container-ad {
  margin: 0 auto;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.1);
}

[type="radio"] {
  display: none;
}

#slider1 {
  height: 30vw;
  /* width: 95vw; */
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider1 label {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  width: 75%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -200px);
}

#slide1 {
  background-image: url(images/slide1.jpg);
  background-color: #d47f00;
  /* border: 2px solid blue; */
}
#slide2 {
  background-image: url(images/slide2.jpg);
  background-color: #4caf50;
}
#slide3 {
  background-image: url(images/slide3.jpg);
  background-color: #39c9dc;
}
#slide4 {
  background-image: url(images/slide4.jpg);
  background-color: #ffc107;
}
#slide5 {
  background-image: url(images/slide5.jpg);
  background-color: #ffb922;
}
